.btn {
    --bs-btn-padding-x: 2.75rem;
}

/* 

.main {
    padding-top: 20px;
    margin-left: 200px; 
    font-size: 22px; 
    background-color : #F5F5F9;
     height: 800px;
  }
  

  .content {
    margin: 10px;
    height: 200px;
    width: 250px;
    border-radius:20px ;
    background-color: white;
    
  }
   */